.border1 {
    margin-left: 0px; 
    padding-left: 0px;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}


main {
  .header-text {
    margin: 30px 0 30px 0;
    font-size: 24px;

  }

  .publish-date {
    margin: 30px 0 30px 0;
    justify-content: space-between;
    .full {
      display: flex;
    }
    .small {
      display: none;
    }
    .main-image {
      width: 876px;
      width: 100%;
      height: 1092px;
      object-fit: cover;
    }
  }

  .header-text-2 {
    margin-top: 30px;
  }
  .five-rank {
    list-style-position: inside;
    li {
      margin-left: 1rem;
    }
  }
  .region {
    li {
      list-style-position: inside;
      font-weight: 500;
      p {
        font-weight: 400;
        margin-left: 1rem;
      }
    }
    .head-tag {
      h6 {
        font-size: 22px;
        font-weight: 500 !important;
        display: inline;
      }
      .space {
        margin-top: 1rem;
      }
    }
  }
  
@media (max-width: 575px) {
  .border1 {
    padding-bottom: 20px;
  }
  .header-text {
    font-size: 20px;
    margin: 20px 0 0 0;
    
    br {
      display: none;
    }
  }

  .publish-date {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 10px 0 20px 0;
    .full {
      display: none;
    }
    .small {
      color: #999999;
      display: block;

    }
  }
  
  
  
    
  }

  
}