.border1 {
    margin-left: 0px; 
    padding-left: 0px;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 30px; 
    justify-content: space-between;
}
.list-info li {
    margin-left: 16px;
}
.lihead{
    margin-top: 16px;
}
@media (max-width: 575px) {
  /* CSS สำหรับมือถือเล็ก */
  .head-table-hr {
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }
  .head-main-status {
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }
  .status-list {
    display: grid;
    gap: 0px !important;
    text-wrap: wrap;
    /* width: 100%; */
    grid-template-columns: repeat(3, 1fr);
    justify-content: start !important;
    align-items: start !important;
    margin: 20px 0;
    padding: 0;
  }
  .status-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 10px;
  }
  .input-search {
    min-width: 100% !important;
    margin: 0 !important;
  }
  .table-style {
    display: none;
  }
  .status-mobile-list {
    display: flex;
    flex-direction: column;
  }

  /* banner */
  .phone-banner-img {
    width: 139px;
    height: 220px;
    right: 10px !important;
  }
  .info-banner {
    top: 0px !important;
    left: 0px !important;
    padding: 10px 10px;
    width: 100% !important;
    flex-direction: column !important;
  }
  .box-img-download {
    top: 0px !important;
  }
  .img-download {
    display: none;
  }
  .qrcode-imge {
    position: absolute;
    top: -10px;
    right: 150px;
  }
  .text-info-status {
    text-align: start !important;
  }

  .heading-text {
    display: flex;
    flex-direction: column;
    text-align: start !important;
    width: 20rem;
    height: auto;
    font-size: 1.375rem;
  }

  .share-blog {
    display: flex;
    flex-direction: column;
    text-align: start !important;
    width: 20rem;
  }


}